body {
	background-image:url('dust_scratches.png');
	background-repeat:repeat;
	margin:0px;
}
nav {
	background-color:silver;
}
a {
	text-decoration:none;
	color:#333333;
	font-size:1.3em;
	padding:15px;
	font-family: serif;
}
ul {
	padding:5px;
}
li {
	list-style:none;
	display:inline;
}
h1 {
	padding-left:15px;
}
.container {
	padding:50px 10px;
}
#apartment1 {
	background-image:url("https://via.placeholder.com/100x100");
	height:100px;
	width:100px;
}
#apartment2 {
	background-image:url("https://via.placeholder.com/100x100");
	height:100px;
	width:100px;
}
#apartment3 {
	background-image:url("https://via.placeholder.com/100x100");
	height:100px;
	width:100px;
}
.apartment {

}
.location {

}
.aptinfo {
	
}