#apartment1 {
	background-image:url("css/home1.jpg");
}
#apartment2 {
	background-image:url("https://via.placeholder.com/150x150");
}
#apartment3 {
	background-image:url("https://via.placeholder.com/150x150");
}